@charset "UTF-8";
/****************************************************************** 
 
Stylesheet: ベーススタイル 
 
******************************************************************/
img {
  max-width: 100%;
  vertical-align: bottom;
}

.font-sm, .footer p {
  font-size: 0.625rem;
}

.font-md, body, .index__list li {
  font-size: 0.875rem;
}

.font-lr, .section-title {
  font-size: 1.125rem;
}

.pb-sm, .section__inner {
  padding: 0 20px;
}

.content-width, .container {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}

.section-title {
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
  display: block;
}

.header__inner {
  margin-top: 60px;
  padding: 0 10px;
}

.header__logo {
  width: 180px;
  margin-bottom: 15px;
}

.header__logo img {
  vertical-align: baseline;
}

.main {
  margin-bottom: 60px;
}

.index {
  background-color: #F5F5F5;
  padding: 40px 20px;
  margin-bottom: 60px;
}

.index__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  border: 1px solid #333333;
}

.index__list ol {
  display: table;
  margin: 0 auto;
  padding: 0;
}

.index__list li {
  margin-bottom: 20px;
}

.index__list li:last-child {
  margin-bottom: 0;
}

.img-list {
  margin-bottom: 60px;
}

.img-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.img-list ul li {
  list-style: none;
  margin-bottom: 15px;
}

.img-list ul:last-child {
  margin-bottom: 0;
}

.detail {
  background-color: #F5F5F5;
  padding: 40px 20px;
  margin-bottom: 60px;
}

.detail__list {
  margin: 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #333333;
}

.detail__list dd {
  margin-bottom: 10px;
}

.detail__list dd:last-child {
  margin-bottom: 0;
}

.detail__text {
  padding-top: 40px;
}

.detail__text p {
  margin-bottom: 20px;
}

.detail__link {
  color: #333333;
  text-decoration: underline;
}

.footer__inner {
  padding: 15px 0;
}

.footer p {
  margin: 0;
  text-align: center;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .section__inner {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
  }
  .img-list ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .img-list ul li {
    width: 49%;
  }
  .img-list ul li img {
    height: 100%;
  }
  .detail {
    padding: 60px 60px;
  }
  .detail__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .detail__list {
    width: 35%;
    border-right: 1px solid #333333;
    border-bottom: none;
    padding-bottom: 0px;
    padding-right: 40px;
  }
  .detail__text {
    width: 75%;
    padding-left: 40px;
    padding-top: 0px;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */